* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}

body {
  color: #171717;
}

.wrap {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-columns: 200px minmax(600px, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}


#ul_dot {
  text-align: left;
}

#ul_dot li {
  text-decoration-line: none;
}

.ul_Ndot {
  display: flex;
  float: right;
  padding: 10px;
  justify-content: space-between;
  list-style-type: none;
}

li {
  text-decoration-line: none;
  padding: 5px;
}

li:hover {
  color: black;
  text-decoration-line: none;
}

li:visited {
  color: black;
  text-decoration-line: none;
}

.hearder {
  grid-column: 1/4fr;
  height: 100%;
}

.logo {
  margin: 20px;
  font-size: 27px;
  text-align: center;
  color: #3a9cad;
}


.top-bar {
  align-content: center;
  padding: 9px 17px;
  color: #3a9cad;
  height: 80%;
}

.top-bar h1 {
  text-align: center;
}

.note-buttons {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  flex-wrap: wrap;
}

#new-note-button {
  background-color: #1e5f75;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 17px;
  text-decoration: none;
}

#new-note-button:hover {
  background-color: #175059;
}

#new-note-button:active {
  position: relative;
  top: 1px;
}

#myButton2 {
  background-color: #3f545c;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 17px;
  text-decoration: none;
  margin-left: auto;
}

#myButton2:hover {
  background-color: hwb(189 23% 32%);
}

#myButto2:active {
  position: relative;
  top: 1px;
}

.note-buttons2 {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 10px;
}

#save-button,
#cancel-button {
  background-color: #4f8c30;
  border-radius: 8px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px 14px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
}

#save-button {
  background-color: #4f8c30;
  color: #ffffff;
  float: none;
  margin-left: 10px;
}

#save-button:hover {
  background-color: #72b352;
}

#save-button:active {
  position: relative;
  top: 1px;
}

#cancel-button {
  background-color: #510b1f;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 14px;
  text-decoration: none;
}

#cancel-button:hover {
  background-color: #430608;
}

#cancel-button:active {
  position: relative;
  top: 1px;
}

#editor {
  flex-grow: 1;
  font-size: 20px;
}

textarea {
  border: 1px solid blue;
  display: block;
  height: 300px;
  margin-bottom: 10px;
  width: 100%;
  resize: none;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding: 5px;
}

.footer h3 {
  color: #3a9cad;
}

.footer img {
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}


/* 데스크톱 스타일 */
@media screen and (min-width: 1024px) {

  /* 사이드바 이동 */
  .header {
    position: absolute;
    top: 0;
    /* left: -200px; */
    width: 200px;
    height: 100%;
  }

  /* 텍스트 영역 확장 */
  main {
    height: 100vh;
  }

}

/* 모바일 스타일 */
/* @media screen and (max-width: 1023px) {

  /* 사이드바 이동 */
/* .header {
  position: relative;
  width: 100%;
  height: auto;
} */

/* 텍스트 영역 확장 */
/* .top-bar {
  height: 100vh;
}
} */

*/ * {
  box-sizing: border-box;
  position: relative;
}

.left {
  background-color: #faf4ec;
}

.right {
  background-color: #f3e9de;
}

.dark-mode .left {
  background-color: #232121;
  color: #f3f1de
}

.dark-mode .right {
  background-color: #232121;
  color: #f3f1de
}